::selection {
  background: hotpink;
  color: black;
}

:root {
  background-color: #212;
  background-image: linear-gradient(.8turn, #213, #318, #212, #102);
  color: silver;
}

:any-link {
  color: violet;
}

@media (prefers-contrast: more) {
  :root {
    background-color: #201;
    color: gainsboro;
  }
}
